.searchresults section[role=main] {
    margin-left: 120px;
    margin-right: 120px;
}

.win-listview {
    height: 610px;
}

.search-result-list-image {
    width: 270px;
}

@media screen and (-ms-view-state: snapped) {
    .searchresults section[role=main] {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (-ms-view-state: fullscreen-portrait) {
    .searchresults section[role=main] {
        margin-left: 100px;
        margin-right: 100px;
    }
}

header {
     background: #2f4f4f;   
}

body {
    padding-top: 20px;
    background: #C8C8C8;      
}